Repository mkv4540/goldearn-hft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manishkumar, @trading-team, @data-team, @devops-team, @security-team, @risk-team, @monitoring-team, @performance-team, @qa-team

.github/CODEOWNERS:

# Global owners
* @manishkumar

# Core trading engine
/src/trading/ @trading-team
/src/market_data/ @data-team

# Infrastructure and configuration
/src/config/ @devops-team
/docker/ @devops-team
/.github/ @devops-team
/CMakeLists.txt @devops-team

# Security and network components
/src/security/ @security-team
/src/network/ @security-team

# Risk management
/src/risk/ @risk-team

# Monitoring and performance
/src/monitoring/ @monitoring-team
/src/core/ @performance-team

# Tests
/tests/ @qa-team

Initial commit: Production-ready GoldEarn HFT System
  .claude/settings.local.json
  .github/workflows/build.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Owners: @manishkumar, @devops-team

Start day 6 work
  .claude/settings.local.json
Owners: @manishkumar

Start day 7 work
  .claude/settings.local.json
Owners: @manishkumar

Day 7: Enhanced Risk Management System Implementation
  CMakeLists.txt
  src/risk/advanced_position_tracker.cpp
  src/risk/advanced_position_tracker.hpp
  src/risk/risk_engine.cpp
  src/risk/risk_engine.hpp
  tests/CMakeLists.txt
  tests/test_enhanced_risk_management.cpp
Owners: @devops-team, @risk-team, @qa-team

Add GitHub workflows and update Claude settings
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/static-analysis.yml
Owners: @manishkumar, @devops-team

Fix compilation errors in test files and CI pipeline
  .clang-format
  src/risk/advanced_position_tracker.hpp
  tests/test_enhanced_risk_management.cpp
Owners: @manishkumar, @risk-team, @qa-team

Improve CI workflow with better dependency handling and debugging
  .github/workflows/ci.yml
Owners: @devops-team

Add package verification step to CI workflow for better debugging
  .github/workflows/ci.yml
Owners: @devops-team

Make CMakeLists.txt more robust in finding hiredis and libzmq packages
  CMakeLists.txt
Owners: @devops-team

Fix CMake package detection and add debugging for CI
  .github/workflows/ci.yml
  CMakeLists.txt
Owners: @devops-team

Disable conflicting workflow files to fix CI pipeline
  .github/workflows/build.yml.disabled
  .github/workflows/tests.yml.disabled
Owners: @devops-team

Create comprehensive CI workflow with all necessary configurations
  .github/workflows/ci.yml
Owners: @devops-team

Fix critical CI build failures
  .clang-format
  src/config/secure_config_manager.cpp
  src/utils/logger.hpp
Owners: @manishkumar, @devops-team

Fix remaining CI build and formatting failures
  src/market_data/nse_protocol.cpp
  src/market_data/order_book.cpp
  src/monitoring/health_check.cpp
  src/trading/order_manager.hpp
Owners: @data-team, @monitoring-team, @trading-team

Fix clang-format violations in advanced_position_tracker.cpp
  src/risk/advanced_position_tracker.cpp
Owners: @risk-team

Optimize CI workflow with extended timeouts and performance improvements
  .github/workflows/ci.yml
Owners: @devops-team

Add comprehensive CMake build optimizations for faster compilation
  CMakeLists.txt
  tests/CMakeLists.txt
Owners: @devops-team, @qa-team

Apply consistent code formatting and improve code quality
  src/config/config_manager.hpp
  src/core/latency_tracker.cpp
  src/core/latency_tracker.hpp
  src/core/rate_limiter.hpp
  src/risk/advanced_position_tracker.hpp
  src/risk/risk_engine.cpp
  src/risk/risk_engine.hpp
  tests/test_enhanced_risk_management.cpp
  tests/test_order_book.cpp
Owners: @devops-team, @performance-team, @risk-team, @qa-team

Add comprehensive build tooling and optimization scripts
  .clang-tidy
  scripts/optimized_build.sh
  scripts/timeout_optimizer.sh
Owners: @manishkumar

Enhance security headers with improved formatting and alignment
  src/security/certificate_manager.hpp
  src/security/enterprise_key_manager.hpp
Owners: @security-team

Fix critical CMake build errors and optimize compilation
  CMakeLists.txt
  src/config/config_manager.cpp
  src/security/secure_jwt_manager.cpp
  src/security/secure_jwt_manager.hpp
Owners: @devops-team, @security-team

Add comprehensive git timeout optimization and build improvements
  .claude/settings.local.json
  .timeout_wrappers
  CI_FIXES_SUMMARY.md
  CI_PIPELINE_FINAL_FIX.md
  CI_PIPELINE_FIXES_COMPLETE.md
  CMakeLists.txt
  GIT_TIMEOUT_FIXES_SUMMARY.md
  git_optimization_summary.md
  scripts/git_timeout_optimizer.sh
  scripts/git_wrapper.sh
  src/market_data/message_types.hpp
  src/market_data/order_book.cpp
  src/monitoring/prometheus_metrics.cpp
  src/risk/advanced_position_tracker.cpp
  src/risk/risk_engine.cpp
  src/risk/risk_engine.hpp
  src/trading/order_manager.hpp
  test_git_optimization.sh
Owners: @manishkumar, @devops-team, @data-team, @monitoring-team, @risk-team, @trading-team

style: clang-format modified files to satisfy CI formatting check
  src/market_data/message_types.hpp
  src/market_data/order_book.cpp
  src/monitoring/prometheus_metrics.cpp
  src/risk/advanced_position_tracker.cpp
  src/risk/risk_engine.cpp
  src/risk/risk_engine.hpp
  src/trading/order_manager.hpp
Owners: @data-team, @monitoring-team, @risk-team, @trading-team

Update Claude settings for enhanced git operations
  .claude/settings.local.json
Owners: @manishkumar

Fix CI build failures and warnings
  src/market_data/order_book.cpp
  src/monitoring/prometheus_metrics.cpp
  src/network/exchange_auth.cpp
  src/risk/risk_engine.cpp
Owners: @data-team, @monitoring-team, @security-team, @risk-team

Fix clang-format violations in exchange_auth.cpp
  src/network/exchange_auth.cpp
Owners: @security-team

ci: add protect-main workflow
  .github/workflows/protect-main.yml
Owners: @devops-team

ci: add branch protection workflow
  .github/workflows/protect-main.yml
Owners: @devops-team

ci: add pre-push hook to block direct push to main/master
  .githooks/pre-push
Owners: @manishkumar

ci: add pre-commit hook to block commits on main/master
  .githooks/pre-commit
Owners: @manishkumar

ci: add hook setup script for developers
  .githooks/setup.sh
Owners: @manishkumar

ci: remove branch protection workflow (using git hooks instead)
  .github/workflows/protect-main.yml
Owners: @devops-team

ci: use self-hosted runner instead of ubuntu-latest
  .github/workflows/build.yml
Owners: @devops-team

ci: use self-hosted runner instead of ubuntu-latest
  .github/workflows/dependencies.yml
Owners: @devops-team

ci: use self-hosted runner instead of ubuntu-latest
  .github/workflows/linting.yml
Owners: @devops-team

ci: use self-hosted runner instead of ubuntu-latest
  .github/workflows/tests.yml
Owners: @devops-team

ci: switch to ubuntu-latest runner
  .github/workflows/build.yml
Owners: @devops-team

ci: switch to ubuntu-latest runner
  .github/workflows/dependencies.yml
Owners: @devops-team

ci: switch to ubuntu-latest runner
  .github/workflows/linting.yml
Owners: @devops-team

ci: switch to ubuntu-latest runner
  .github/workflows/tests.yml
Owners: @devops-team
